.jumbotron {
    background-image: url(../../images/banner.jpg);
    background-repeat: no-repeat;
    /*opacity:0.75; */
    background-blend-mode: multiply;
    background-position: center;
    background-size: cover;
    background-color: #777777;
}

#h1Head {
    font-size: 50px;
    color: #FFFFFF;
    font-family: Exo;
}

#h2Head{
    font-size: 26px;
    color: #FFFFFF;
    font-family: open sans;
    text-shadow: #666666;
}

h1{
    font-family: Exo;
    font-size: 60px;
    color: #0072bc;
}

h2{
    font-family: Exo;
    font-size: 50px;
    color: #0072bc;
}

h3{
    font-family: Exo;
    font-size: 40px;
    color: #0072bc;
}

h4{
    font-family: Exo;
    font-size: 35px;
    color: #0072bc;
}

h5{
    font-family: Exo;
    font-size: 24px;
    color: #0072bc;
}

h6{
    font-family: Exo;
    font-size: 18px;
    color: #0072bc;
}
